*{
    margin: 0;
    padding: 0;
   
}
body {

    /* background: rgb(210,245,250); */

    background: linear-gradient(45deg, rgb(127, 211, 245), rgb(127, 211, 245), rgb(47, 139, 245), rgb(227, 128, 247), rgb(81, 3, 117));
    background-size: 500%;
    background-position: right;
    /* background: linear-gradient(90deg, rgba(210,245,250,1) 0%, rgba(17,172,209,1) 100%, rgba(5,196,223,1) 100%);  */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    animation: cielo 100s ease-in-out alternate;

}

@keyframes cielo {
    0% {
        background-position: left;
    }

    40% {
        background-position: right;
    }

    60% {
        background-position: right;
    }

    80% {
        background-position: right;
    }

    100% {
        background-position: right;
    }


    /* 0%{
        background: rgb(210,245,250);
       
    }

    25%{
        background: rgb(119, 208, 219);
       
    }

    50% {
        background: rgb(233, 140, 140);
    }

    75% {
        background: rgb(63, 3, 78);
    }

    100%{
        background: rgb(210,245,250);
    }  */
}

.scene i {
    
    position: absolute;
    background: #fff;
    border-radius: 50%;

}

.scene {
    width: 100%;
    height: 100vh;
    position: absolute;
    animation: estrellas 25s 30s linear forwards, movestar 30s 30s linear forwards;
    opacity: 0;
}

@keyframes estrellas {
    0%{
        opacity: 0;
      
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes movestar {
    0%{
       
        transform: translateY(0);
    }
    100%{
      
        transform: translateY(-50px);
    }
}

span{
    position: absolute;
    top: -10%;
    left: 80%;
    width: 4px;
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,1);
    animation: fugaz 2s 45s linear 1;
    
    
}
span::before
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,rgb(255, 255, 255),transparent);
}

@keyframes fugaz {
    0%{
        transform: rotate(315deg)translateX(0);
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg)translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1)
{
    top: -10px;
    right: 15%;
    left: initial;
    animation-delay: 48s;
    animation-duration: 2s;
}
span:nth-child(2)
{
    top: -10px;
    right: 10px;
    left: initial;
    animation-delay: 53s;
    animation-duration: 1s;
}
span:nth-child(3)
{
    top: -10px;
    right: 80%;
    left: initial;
    animation-delay: 57s;
    animation-duration: 2s;
}


.ring.conteiner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(26, 150, 199);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: cont 5s;
    opacity: 0;
}
@keyframes cont {
    0%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}

.lds-ring {
    
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
 
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(59, 207, 59);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



.contenedor {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
 

 
   
}

.letter {
    width: 500px;
    display: flex;
    flex-direction: row;
    
}

h1 {
    color:rgb(65, 174, 236);
    padding: 15px 0;
    z-index: 300;
}

.fantasma {
    height: 100px;
    width: calc(900px/9);
    background: url('images/animacion/fantasmasd.png');
    animation: fantasma 2s steps(9)  infinite, moverf 40s linear ;
    animation-delay: 5s;
    transform: scale(1);
    margin-top: 0px;
    left: -100px;
    position: absolute;

}
@keyframes moverf {
    0%{
        left: -100px;
    }

    49%{
        top: 0px;
    }

    50%{
        left: 110%;
        top: 200px ;
    }

    51%{
        left: 105%;
    }
   
    100%{
        left: -200px;
        top: 200px ;
    }
} 
@keyframes fantasma {
    from{
        background-position: 0px;
    }
    to{
        background-position:900px;
    }
}
.pacman {
    height: 100px;
    width: calc(400px/4);
    background:url('images/animacion/pacman.png');
    animation: pacman .5s steps(4) infinite, mover 41s 5s linear;
   
    transform: scale(.9);
    position: absolute;
    left: -200px;
}
@keyframes pacman {
    from{
        background-position: 0px;

    }
    to{
        background-position: 400px;
    }
}
@keyframes mover {
    0%{
        left: -200px;
    }
    49%{
        transform: rotate(0deg);
        top: 0px;
    }
    50%{
        left: 105%;
        top: 200px;
        transform: rotate(180deg);
    }
    51%{
        left: 110%;
    }
    100%{
           
        top: 200px;
        transform: rotate(180deg);
        left: -100px;
    }
}

.globos
{
   width: 200px;
   position: absolute;
   bottom: -240px;
   transform: translate(0,0);
   animation-name: globos;
   animation-duration: 10s;
   animation-iteration-count:1;
   z-index: 148;
}

.globos img {
    width: 100%;
}

@keyframes globos {
    0%{
        transform: translate(350px, 200px);
    }
   /*  25%{
        transform: translate(350px, -200px);
    }
    50%{
        transform: translate(350px, -400px);
    }
    75%{
        transform: translate(350px, -600px);
    } */
    100%{
        transform: translate(350px, -1200px);
    }
} 

.globoA img {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 5%;
    transform: translate(0px,200px);
    animation: globoA 12s 1;
    z-index: 4;
    
}

@keyframes globoA {
    from {
        transform: translate(0px,200px);
    }

    to {
        transform: translate(0px,-1100px);
    }
}

.globoverde img {
  width: 35px;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(0,0);
  animation: globoverde 20s 1 linear;
  z-index: 3;
}

@keyframes globoverde {
    from {
        transform: translate(0px,100px);
    }

    to {
        transform: translate(0px,-1000px);
    }
}

.avioneta img {
    width: 20%;
    position: absolute;
    right: -350px;
    transform: translateY(300px);
    z-index: 2;
    animation: avioneta 30s;
    animation-delay: 10s;
}

@keyframes avioneta {
    0% {
        right: -350px;
        
    }

    10% {
        transform: translateY(330px);
    }
    
    20% {
        transform: translateY(280px);
    }

    35% {
        transform: translateY(330px);
    }

    50%{
        transform:translateY(280px);

    }

    65%{
        transform:translateY(330px); 
    }

    80%{
        transform:translateY(280px); 
    }

    90%{
        transform:translateY(330px); 
       
    }

    100%{
        right: 120%;
    }
}

/* .montanas
{
    width: 100%
} */

.montanas {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('images/mountain.png');
    background-position: left bottom;
    background-size: 130%;
    background-repeat: no-repeat;

    bottom: 0px;
    /* left: -200px; */
    animation: montanas 15s 20s linear forwards;
    z-index: 1;
  
}

@keyframes montanas {
    0%{
        
        filter: brightness(1);
    
    }

    50%{
        filter: brightness(1);
    }

    100% {
       
        filter: brightness(.4);
       
    }

}

.pajaroc {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 110%;
    transform: scale(1);
    animation: pajaro 60s linear forwards;
    z-index: 99;

    
}

.pajaro {
width: 100%;
height: 100%;
position: absolute;
z-index: 20;




}

.ala {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0,0)rotate(0);
    animation: ala 1s infinite;
    z-index: 25;
}

.alita {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: alita 1s infinite;
    z-index: 19;
}
.pico {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: pico 3s 12;
    z-index: 22;
}
@keyframes pajaro {
    0%{
       transform: rotate(0deg);
       transform: scale(0);
       left: 80%;
      
    }
   

    100% {
        transform: rotate(0deg);
        transform: scale(1);
        left: -10%;
        top: 10%;
       
     }

    
}

@keyframes ala {
     0%{
        transform: rotate(0deg);
      
       
     }

     50% {
        transform: rotate(15deg);
       
     }
     100% {
        transform: rotate(0deg);
      
     }
}

@keyframes alita {
    0%{
       transform: rotate(0deg);
      
    }

    50% {
       transform: rotate(-20deg);
      
    }
    100% {
       transform: rotate(0deg);
    }
}
@keyframes pico {
    0%{
        transform: rotate(0deg);
    }
    60% {
        transform: translate(-7px,-5px) rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
     }
}

.nube1 {
    width: 300px;
    left: 30%;
    top: 50px;
    position: absolute;
    animation: nube1 90s linear forwards ;
    z-index: 4;
}

@keyframes nube1 {
    from {
        left: 20%;
    }

    to {
        left: 40%;
    }
}

.nube2 {
    position: fixed;
    bottom: -30%;
    animation: nube2 70s linear forwards;
}
@keyframes nube2 {
    from{
        right: -200px;
    }
    to{
        right: 0px;
    }
}

.nube3 {
    width: 200px;
    position: absolute;
    left: 20%;
}
.nube4 {
    width: 200px;
    position: absolute;
    left: 80%;
    animation: nube4 90s linear;
    z-index: 73;
}
@keyframes nube4 {
    from{
        left: 80%;
        top: 100px;
    }
    to{
        left: 60%;
        top: 100px;
    }
}

.superh {
    width: 150px;
    position: absolute;
    top: 90%;
    animation: super 3s;
    animation-delay: 15s;
}

@keyframes super {
    from{
        top:90%;
        left: -20%;
    }
    to {
        top:10%;
        left: 100%;
    }
}

.ironman {
    width: 100px;
    position: absolute;
    right: 140%;
    top: 37%;
    opacity: 1;
    animation: iron 30s;
    animation-delay: 10s;
    z-index: 30;

}

@keyframes iron {
    0% {
        right: 0;
        opacity: 0;
    }

    20% {
        top: 38%;
        opacity: 1;
    }

    40% {
        
        top:39%
    }

    100% {
        right: 140%;
        top: 37%;
    }
}

.fuegoz {
width: 100px;
height: auto;
position: absolute;
top: 37%;
right: 140%;
animation: fuego 30s;
animation-delay: 10s;

}

@keyframes fuego {
    0%{
       height: auto;
       right: 0;
    }

    5%{
      height: 0px;
    }

    10%{
     height: auto ; 
    }

    15%{
        height: 0px ; 
        }

    20%{
        height: auto ;
        top: 38%; 
        }

    25%{
    height: 0px ;
    }   

    30%{
        height: auto;
    }      
        
    40%{
         height: 0px;
         top: 39%;
    }

    50%{
        height: auto;
    }

   
    100% {
       
        right: 140%;
        top:37%;
    }
}



.iron2 {
    width: 100px;
    position: absolute;
    left: 40%;
    bottom: 0;
    opacity: 0;
    animation: iron2 5s;
    animation-delay: 30s;

}

@keyframes iron2 {
    0%{
        bottom: 0;
        opacity: 1;
        transform: scale(0);
    }
     
    30%{
        bottom:40%;
        transform: scale(1);
    }

    70%{
        bottom: 40%;
    }

    75%{
        bottom: 40%;
    }

    77%{
        transform: scale(1);
        bottom: 40%;
    }

    90%{
        transform: scale(.2);
        bottom: 40%;
    }

    100% {
        bottom: 100%;
        opacity: 1;
        transform: scale(0);
      
    }
}

.ojos {
    width: 100px;
    position: absolute;
    left: 40%;
    bottom: 0;
    opacity: 0;
    animation: ojos 5s;
    animation-delay: 30s;
}

@keyframes ojos {
    0%{
        opacity: 0;
        bottom: 0;
    }
    30%{
        bottom:40%;
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    70%{
        bottom: 40%;
        opacity: 1;
    }
    75%{
        bottom: 40%;
        opacity: 0;
    }

    100% {
        bottom: 100%;
        opacity: 0;
    }
}

.persona {
    height: 297px;
    width: calc(1750px/7);
    background: url('images/animacion/8en1.png');
    animation: persona .5s steps(7) infinite,
               adelante 60s ;
 position: absolute;
 bottom: -50px;
 z-index: 101;
 left: calc(100% + 250px);
    
              
   

    
} 

 

@keyframes adelante {
    0%{
        left: -250px;
        bottom: -100px;
    }

    10%{
      
        bottom: -60px;
    }

    20%{
        bottom: -20px;  
    }

    36%{
        bottom: -100px;
    }

    
    50%{
        bottom: -20px;
    }

    100% {
        left: calc(100% + 250px);
        bottom: -100px; 
    }
}

@keyframes persona {
    from{
        background-position:1750px;
        transform: scale(.2);
       
    }
    to {
        background-position: 0px;
        transform: scale(.2);
       
       
    }
}

.persona2 {
    width: calc(2400px / 8);
    height: 325px;
    background: url('images/animacion/persona2.png');
    animation: personados 1s steps(8) infinite, runer 50s; 
    animation-delay: 3s;
    z-index: 102;
    bottom: -100px;
    transform: scale(.2);
    position: absolute;
    left: -200px;
}

@keyframes personados {
    from{
      background-position: 2400px;
    }
    to {
        background-position: 0px;
    }

}

@keyframes runer {
    0%{
        margin-left: -300px;
        transform: scale(.2);
    }

    30% {
        bottom: -100px;
    }
    
    50%{
        bottom: -50px;
    }
   
     80%{
        bottom:-50px;
     }
    100% {
        margin-left: calc(100% + 300px);
        transform: scale(.2);
        bottom:-100px;
    }
}

.duck {
    height: 268px;
    width: calc(2000px/8);
    background: url('images/animacion/pato.png');
    top: 0px;
    margin-left: -300px;
    animation: pato 1s steps(8) infinite, vuelo 20s linear;
    z-index: 103;
    position: absolute;
}

@keyframes pato {
    from{
        background-position: 0px;
    }
    to {
        background-position: 2000px;
    }
}
@keyframes vuelo {
    from{
        margin-left: 110%;
        
    }
    to {
        margin-left: -300px;
        top: 20%;
        
    }
}

.humo {
    height: 180px;
    width: calc(1200px/6);
    background: url('images/animacion/humo.png');
     animation: /*humo 1s 5s steps(6), */
               humo1 1s 14.5s steps(6);
               /* humo2 1s 25s steps(6); */
   
    right: 100%;
    z-index: 150;
    position: absolute;
   
  
}
@keyframes humo {
    from{
        background-position: 1200px;
        margin-left: 300px;
    }
    
    to{
        background-position: 0px;
        margin-left: 300px;
    }
}

@keyframes humo1 {
    from{
        background-position: 1200px;
        right: 25.5%;
        bottom:1%;

    }
    
    to{
        background-position: 0px;
        right: 25.5%;
        bottom:1%;
        transform: scale(2);
    }
}

@keyframes humo2 {
    from{
        background-position: 1200px;
        left: 1200px;
        top: 400px;
    }
    
    to{
        background-position: 0px;
        left: 1200px;
        top: 400px;
    }
}




    .mariposa {
        width: calc(1801px/9);
        height: 246px;
        bottom: 0px;
        left: -150px;
        z-index: 130;
        position: absolute;
        /* background: url('images/animacion/mariposa.png'); */
        /* animation: mariposa .7s steps(9) 2s infinite; */
        transform: scale(.3);
        animation: circulo 30s  ease-in-out 2s ;
         /* , circulo 10s  ease-in-out 2s infinite alternate ; */
     
   }

   .mariposa:before{
    content: '';
    width: calc(1801px/9);
    height: 246px;
    background: url('images/animacion/mariposa.png');
    bottom: 0px;
    left: 0;
   
    position: absolute;
    animation: mariposa .5s steps(9) 2s infinite, circuloy 30s ease-in-out 2s  ;
   
     /* circuloy 10s ease-in-out 2s infinite alternate ; */
  

   } 

   @keyframes mariposa {
    from{
        background-position: 0px;
    }
    to{
        background-position: 1801px;
    }
   }

   @keyframes circulo {
      0%{
         left: -150px;
      }
       
      100%{
        left: 100%;
      }
   }

   @keyframes circuloy {
    0%,100%{
       bottom: 0px;
    }

    15%{
        bottom:1500px;
    }
     
    30%{
      bottom:1000px;
    }

    50%{
        bottom: 200px;
    }

    75%{
        bottom:1800px;
    }
 }


.esoestodo {
    width: 400px;
    height: 154px;
    background-color: rgb(178, 23, 184);
    background: url('images/animacion/esoestodo.png');
    animation: esoestodo 5s 60s, desa 5s 65s forwards;
    animation-fill-mode: forwards;
    position: absolute;
    transform: scale(.8);
    left: -20%;
    top: -20%;
   
   
 }

   @keyframes esoestodo {
    from{
        width: 0px;
        left: 20%;
        top: 0;
    }
    to{
        width: 400px;
        left: 25%;
        top: 0;
    }
  }

  @keyframes desa {
    from{
        opacity: 1;
    }
    to{
       opacity: 0;  
    }
  }

.moon {
       width: 100px;
       height: 100px;
       background-image: url('images/moon.png');
       background-size: contain;
      
        position: absolute;
        right: 300px;
        bottom: -100px;
        animation: moon 35s 30s linear forwards;
      

}
@keyframes moon {
    0%{
        bottom:-100px;
        /* right: 300px; */
    }
    50% {
      bottom: 600px;
      /* right: 100px; */
    }
    80%{
        bottom: 600px;
        /* right: 100px; */
    }
    100%{
        /* right: -100px; */
        bottom: 600px ;
    }
}

.sol{
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    background-image: url('images/sun.png');
    background-size: cover;
    position: absolute;
    animation: sol 38s linear forwards;
  
   
}
@keyframes sol {
    0%{
        top:10%;
        left:20%;
    }
    60%{
        top:10%;
        left: 15%;

    }
    100%{
        top: 70%;
        left: 15%;
    }

}

.redbird {
    width: calc(3201px/16);
    height: 162px;
    background: url('images/animacion/redbird.png');
    animation:redbird 1s steps(16) infinite, mobird 10s linear forwards;
    animation-play-state: running;
    position: absolute;
    top: 0;
    z-index: 62;
    

}

.redbird:hover
{
    animation-play-state: paused;
}


@keyframes redbird {
    from{
        background-position: 3201px;
    }
    to{
        background-position: 0;
    }
}
@keyframes mobird {
    from{
        left: 0;
        top:0;
    }
    to{
        left:100%;
        top:40%;
    }
}

.luciernaga {
   
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        animation: ejex 20s 30s ;
    
       
      
}

.luciernaga:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fffb08;
    position: absolute;
    animation: ejey 20s 30s ease-in-out ;
    z-index: 155;
    left: -20px;
    box-shadow: rgba(245, 221, 4,) 0px 22px 70px 4px;
}



@keyframes ejex {
    0%{
        left: 0;
    }
    30%{
        left: 50%;
    }
    50% {
        left: 10%;
    }

 

70%{
    left: 50%;
}

90%{
    left: 40% ;
}
   
    100% {
        left: 100%;
    }
}

@keyframes ejey {
    0%{
        bottom: -300px;
    }

    10%{
        bottom: -200px;
    }

    50% {
        bottom:-600px;
    }
    
  
    70%{
        bottom:-200px;
    }

    90%{
        bottom:-100px
    }
    100%{
        bottom:-800px;
    }
}


.luci1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fffb08;
    position: absolute;
    z-index: 30;
   animation: luci1X 30s ease-in-out;
}


@keyframes luci1X {
   
}
  

@keyframes luci1Y {
    0%{
        transform: translateY(0px);
    }
   
    
    
    30%{
        transform: translateY(200px);
    }
    
    60%{
        transform: translateY(-100px);
    }

}






.cohete {
    width: 50px;
    height: 115px;
    position: absolute;
    bottom: 30px;
    right: 10%;
    animation: coheteX 10s 5s forwards ;
  
}
.cohete::before{
    content: '';
    width: 50px;
    height: 115px;
    background: url('images/cohete2.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 30px;
    right: 10%;
    z-index: 98;
    animation: coheteY 10s 5s ease-in-out forwards;
}
@keyframes coheteX {
    0% {
        right: 10%;
    }
    
    30%{
        right: 10%;
    }


    
   95%{
    right: 30%;
   }
    
    100% {
       right: 30%;
    }
}
@keyframes coheteY {
    0% {
        bottom:30px;
    }
    20%{
        transform: rotate(0deg); 
    }
    50%{
        bottom: 600px;
    }
    90%{
        transform: rotate(-180deg);
    }
    99%{
        opacity: 1;
    }
    100% {
        bottom:10px;
        transform: rotate(-180deg);
        opacity: 0;

    }
}



.pelota {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    /* background-color: #e91ed8;
    border: 1px solid white; */
    animation: pelotaX 20s 30s ease-in-out forwards ;
    z-index: 123;
    left: -100px;
   
}

.pelota::before {
    content: '';
    width: calc(700px/5);
    height: 72px;
    position: absolute;
    background:url('images/ovnispt2.png');
    
    border: 0px solid white;
    animation: ovnispt 3s steps(5) infinite, pelotaY 20s 30s ease-in-out forwards;
    top: 200px;
    left: -100px;
    z-index: 123;


}
@keyframes ovnispt {
    from{
        background-position: 700px;
    }
    
 
    to{
       background-position: 0px;
    }
}

@keyframes pelotaX {
    0%{
        transform: translateX(100px);
    }
    
 
    50%{
        transform: translateX(1900px);
    }

    100%{
        transform: translateX(966px); 
    }
}

@keyframes pelotaY {
    0%{
        transform: translateY(100px)scale(.5);
        
    }
    12.5%{
        transform:translateY(-200px)scale(.5);
    }

    25%{
        transform:translateY(200px)scale(.5); 
    }
    37.5%{
        transform: translateY(-200px)scale(.5); 
    }
    
    /* 62.5%{
        transform: translateY(400px);
    }
    75%{
       transform: translateY(0px); 
    } 
    87.5%{
        transform: translateY(200px); 
    }
    100%{
        transform: translateY(0px); 
    } */
    60%{
        transform: translateY(400px)scale(.8);
    }
    70%{
       transform: translateY(0px)scale(.5); 
    } 
    80%{
        transform: translateY(200px)scale(.5); 
    }
    90%{
        transform: translateY(0px)scale(1); 
    }
    100%{
        transform: translateY(0px)scale(1); 
    }
}
.rayo {
    width: 200px;
    height: 60%;
    /* clip-path: polygon(38% 0, 59% 0, 59% 0, 37% 0); */
    clip-path: polygon(38% 0, 59% 0, 100% 100%, 0 100%);
        /* clip-path: polygon(30% 0%, 60% 0%, 100% 99.4%, 90% 99.5%, 80% 99.6%, 70% 99.7%, 60% 99.8%, 50% 99.8%, 40% 99.7%, 30% 99.6%, 20% 99.5%,10% 99.4%,0% 99.3%); */
    animation: rayo 12s 52s linear forwards;
    background: rgb(230, 226, 7,.5);
    position: absolute;
    left: 740px;
    top: 32.8%;
    z-index: 122;
    opacity: 0;
}
@keyframes rayo {
    0%{
        clip-path: polygon(38% 0, 59% 0, 59% 0, 37% 0);
        opacity: 1;
       
    }
    40%{
        clip-path: polygon(38% 0, 59% 0, 100% 100%, 0 100%);
        opacity: 1;
    }
    80%{
        clip-path: polygon(38% 0, 59% 0, 100% 100%, 0 100%);
        opacity: 1;
    }
    100%{
        clip-path: polygon(38% 0, 59% 0, 59% 0, 37% 0);
        opacity: 1;
     
    }
}
 .elipse {
    width: 200px;
    height: 50px;
    background: #fffb08;
    clip-path: ellipse(50% 8% at 50% 51%);
    position: absolute;
    left: 740px;
    top: 860px;
    z-index: 113;
    animation : elipse 12s 52s linear; 
    transform: scale(0);
} 

@keyframes elipse{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    40%{
        opacity: 1;
        transform: scale(1);
    }
    80%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

.bat {
    width: calc(3151px/9);
    height: 351px;
    position: absolute;
    background: url('images/animacion/murcielago.png');
    animation: bat 1s steps(9) infinite, batm 20s 40s linear forwards;
    transform: scale(.1);
    bottom: 0px;
  
   
}

@keyframes bat {
    from{
        background-position: 0;
    }
    to{
        background-position: 3151px;
    }
}
@keyframes batm {
    0%{
        bottom: 0;
        left:55%;
    }
    40%{
        bottom: 300px;
       
    } 
    60%{
        bottom: 300px;
        transform:scale(.1) ;
    } 
    100%{
        transform:scale(.7) rotate(0);
        bottom: 900px;
        left: 55%;       
    }

}

.sombra {
    width: 50px;
    height: 16px;
    background-image: url('images/sombra.png');
    animation: sombra 2.5s 5s linear forwards;
    right: 10.2%;
    bottom: 53px;
    position: absolute;
    z-index: 97 ;
   
}
@keyframes sombra {
    0%{
        transform: scale(1);
       
    }
    100%{
        transform: scale(0);
    }
}

.sombra2 {
    width: 50px;
    height: 16px;
    background: url('images/sombra.png');
    animation: sombra2 3s 12s linear;
    right: -100px;
    bottom: 35px;
    position: absolute;
    z-index: 96 ;
    
   
}
@keyframes sombra2 {
    0%{
        transform: scale(0);
        right: 30%;
        bottom: 50px;
       
    }
    100%{
        transform: scale(1);
        right: 30%;
  
       
    }
}

.llamas {
    width: 50px;
    height: 100px;
    background: url('images/llamas.png');
    animation: llamas 3.8s 6s linear forwards;
    position: absolute;
    z-index: 95;
}
@keyframes llamas {
    0%{
        transform: scale(1);
        right: 10%;
        bottom: 30px;
    }
    100%{
        transform: scale(1);
        right: 10%;
        bottom: 600px;
    }
}

.naruto {
    width: calc(1400px/10);
    height: 200px;
    background: url('images/animacion/naruto.png');
    animation: naruto 1s steps(10) infinite, movenaruto 20s 44s linear forwards;
    position: absolute;
    transform: scale(.3);
    bottom: -15px;
    left: -100px;
    z-index: 77;
}

@keyframes naruto {
    from{
        background-position: 1400px;
    }
    to{
        background-position: 0px;
    }
}
@keyframes movenaruto {
    0%{
        left: -50px;
    }
    60%{
        left: 755px;
    }
    65%{
       transform: rotate(0deg)scale(.3);
       bottom:-5px;
    }

    90%{
        transform: rotate(1080deg)scale(.3);
        bottom:545px;
        left:760px;

    }

    98%{
        opacity: 1;
    }
    100% {
        transform: rotate(1080deg)scale(.3);
        bottom:545px;
        left:760px;
        opacity: 1;
    }
}


 /*
@keyframes personados {
    0%{
        background-image: url('images/animacion/pp01.png');
        margin-left: 0%;
        margin-top: 200px;  

    }
    3.125%{
        background-image: url('images/animacion/pp02.png');
        margin-left: 2.5%;  
    }
   
    6.25%{
        background-image: url('images/animacion/pp03.png');
        margin-left: 5%;    
    }
    9.375%{
        background-image: url('images/animacion/pp04.png');
        margin-left: 7.5%;    
    }
    12.5%{
        background-image: url('images/animacion/pp05.png');
        margin-left: 10%;   
    }
    15.625%{
        background-image: url('images/animacion/pp06.png');
        margin-left: 12.5%;     
    }
    18.75%{
        background-image: url('images/animacion/pp07.png');
        margin-left: 15%;     
    }


    21.875%{
        background-image: url('images/animacion/pp08.png');
        margin-left: 17.5%;     
    }
    25%{
        background-image: url('images/animacion/pp01.png');
        margin-left: 20%;     
    }
   
    28.125%{
        background-image: url('images/animacion/pp02.png');
        margin-left: 22.5%;  
    }
    31.25%{
        background-image: url('images/animacion/pp03.png');
        margin-left: 25%;    
        
    }
    34.375%{
        background-image: url('images/animacion/pp04.png');
        margin-left: 27.5%;    
    }
    37.5%{
        background-image: url('images/animacion/pp05.png');
        margin-left: 30%;     
    }
    40.625%{
        background-image: url('images/animacion/pp06.png');
        margin-left: 32.5%;     
    }
    43.75%{
        background-image: url('images/animacion/pp07.png');
        margin-left: 35%;     
    }
    46.875%{
        background-image: url('images/animacion/pp08.png');
        margin-left: 37.5%;     
    }
   
    50%{
        background-image: url('images/animacion/pp01.png');
        margin-left: 40%;
        margin-top: 0;     
    }
    53.125%{
        background-image: url('images/animacion/pp02.png');
        margin-left: 42.5%;     
    }
   56.25%{
        background-image: url('images/animacion/pp03.png');
        margin-left: 45%;     
    }
    59.375%{
        background-image: url('images/animacion/pp04.png');
        margin-left: 47.5%;     
    }
    62.5%{
        background-image: url('images/animacion/pp05.png');
        margin-left: 50%;     
    }
    65.625%{
        background-image: url('images/animacion/pp06.png');
        margin-left: 52.5%;     
    }
    68.75%{
        background-image: url('images/animacion/pp07.png');
        margin-left: 55%;     
    }
    71.875%{
        background-image: url('images/animacion/pp08.png');
        margin-left: 57.5%;     
    }
    75%{
        background-image: url('images/animacion/pp01.png');
        margin-left: 60%;     
    }
    78.125%{
        background-image: url('images/animacion/pp02.png');
        margin-left: 62.5%;     
    }
    81.25%{
        background-image: url('images/animacion/pp03.png');
        margin-left: 65%;     
    }
    84.375%{
        background-image: url('images/animacion/pp04.png');
        margin-left: 67.5%;     
    }
    87.5%{
        background-image: url('images/animacion/pp05.png');
        margin-left: 70%;     
    }
    90.625%{
        background-image: url('images/animacion/pp06.png');
        margin-left: 72.5%;     
    }
    93.75%{
        background-image: url('images/animacion/pp07.png');
        margin-left: 75%;     
    }
    96.875%{
        background-image: url('images/animacion/pp08.png');
        margin-left: 77.5%;     
    }
    100%{
        background-image: url('images/animacion/pp01.png');
        margin-left: 80%; 
        margin-top: 100px;    
    }  */


    

